In [1]:
import sqlalchemy as db
from getpass import getpass

In [2]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName = "lab-mysql-select"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [4]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [ ]:
challenge1 = pd.read_sql_query("""create temporary table roy_b (
SELECT t.title_id as `title_id`, 
        ifnull(round(((t.price*t.royalty)*sum(s.qty))/100,2),0) as `tot_earn`
	FROM titles as t
		left join sales as s on t.title_id=s.title_id
Group by t.title_id
ORDER by `tot_earn` desc);

SELECT au.au_id as `AUTHOR ID`, 
		au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        ifnull(round((rb.tot_earn*ta.royaltyper)/100,2),0) as `PROFIT`
	FROM authors AS au
		left JOIN titleauthor AS ta ON au.au_id=ta.au_id
        left JOIN titles AS t ON t.title_id=ta.title_id
        left join sales as s on t.title_id=s.title_id
        left join roy_b as rb on t.title_id=rb.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname, t.title_id, rb.tot_earn, ta.royaltyper
ORDER BY `PROFIT` desc limit 3;
""", engine)

In [ ]:
challenge1

In [ ]:
challenge2 = pd.read_sql_query("""
create table most_profiting_authors (
SELECT au.au_id as `AUTHOR ID`, 
		au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        ifnull(round(((((t.price*t.royalty)*sum(s.qty))/100)*ta.royaltyper)/100,2),0) as `PROFIT`
	FROM authors AS au
		left JOIN titleauthor AS ta ON au.au_id=ta.au_id
        left JOIN titles AS t ON t.title_id=ta.title_id
        left join sales as s on t.title_id=s.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname, t.title_id, ta.royaltyper
);
""", engine)

In [ ]:
challenge2

In [ ]:
challenge3 = pd.read_sql_query("""
create table most_profiting_authors (
SELECT au.au_id as `AUTHOR ID`, 
		au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        ifnull(round(((((t.price*t.royalty)*sum(s.qty))/100)*ta.royaltyper)/100,2),0) as `PROFIT`
	FROM authors AS au
		left JOIN titleauthor AS ta ON au.au_id=ta.au_id
        left JOIN titles AS t ON t.title_id=ta.title_id
        left join sales as s on t.title_id=s.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname, t.title_id, ta.royaltyper
);
""", engine)

In [ ]:
challenge3