# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# import reduce from functools, numpy and pandas
from functools import reduce
import numpy as np
import pandas as pd

# Challenge 1 - Mapping

#### We will use the map function to clean up a words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [2]:
# Run this code:

location = '../58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [3]:
# Your code here:
for i in range(567):
    prophet.remove(prophet[0])
print('words cleared')
prophet[:50]

words cleared

['Farewell................92\n\n\n\n\nTHE',
 'PROPHET\n\n|Almustafa,',
 'the{7}',
 'chosen',
 'and',
 'the\nbeloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto',
 'his',
 'own\nday,',
 'had',
 'waited',
 'twelve',
 'years',
 'in',
 'the',
 'city\nof',
 'Orphalese',
 'for',
 'his',
 'ship',
 'that',
 'was',
 'to\nreturn',
 'and',
 'bear',
 'him',
 'back',
 'to',
 'the',
 'isle',
 'of\nhis',
 'birth.\n\nAnd',
 'in',
 'the',
 'twelfth',
 'year,',
 'on',
 'the',
 'seventh\nday',
 'of',
 'Ielool,',
 'the',
 'month',
 'of',
 'reaping,',
 'he\nclimbed']

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [4]:
# Your code here:
print(prophet[0:10])

['Farewell................92\n\n\n\n\nTHE', 'PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [5]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    if '{' in x:
        return x.split('{')[0]
        print('reference found and split')
    else:
        return x

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [6]:
# Your code here:
prophet_reference = list(map(lambda x: reference(x), prophet))

prophet_reference[0:10]

['Farewell................92\n\n\n\n\nTHE',
 'PROPHET\n\n|Almustafa,',
 'the',
 'chosen',
 'and',
 'the\nbeloved,',
 'who',
 'was',
 'a',
 'dawn']

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [7]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    return x.split('\n')
    # Your code here:

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [8]:
# Your code here:
prophet_line = list(map(lambda x:line_break(x), prophet_reference))
prophet_line[:20]

[['Farewell................92', '', '', '', '', 'THE'],
 ['PROPHET', '', '|Almustafa,'],
 ['the'],
 ['chosen'],
 ['and'],
 ['the', 'beloved,'],
 ['who'],
 ['was'],
 ['a'],
 ['dawn'],
 ['unto'],
 ['his'],
 ['own', 'day,'],
 ['had'],
 ['waited'],
 ['twelve'],
 ['years'],
 ['in'],
 ['the'],
 ['city', 'of']]

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [9]:
# Your code here:
prophet_flat = np.asarray(prophet_line)
#prophet_flat.flatten()
#prophet_flat.tolist()[:50]
#prophet_flat = [word for lists in prophet_line for word in lists if (type(word) is list) else word]

prophet_flat = [word for word in prophet_line if (type(word)==str)]
prophet_flat = [i for e in prophet_line for i in e]
prophet_flat[:50]

['Farewell................92',
 '',
 '',
 '',
 '',
 'THE',
 'PROPHET',
 '',
 '|Almustafa,',
 'the',
 'chosen',
 'and',
 'the',
 'beloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto',
 'his',
 'own',
 'day,',
 'had',
 'waited',
 'twelve',
 'years',
 'in',
 'the',
 'city',
 'of',
 'Orphalese',
 'for',
 'his',
 'ship',
 'that',
 'was',
 'to',
 'return',
 'and',
 'bear',
 'him',
 'back',
 'to',
 'the',
 'isle',
 'of',
 'his',
 'birth.',
 '',
 'And']

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [10]:
def word_filter(x):
    '''
    Input: A string
    Output: true if the word is not in the specified list and false if the word is in the list
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    return lambda x: x not in word_list

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [16]:
word_list = ['and', 'the', 'a', 'an', '']
remover = lambda x: x not in word_list
prophet_filter = list(filter(remover, prophet_flat))
print(len(prophet_filter))
prophet_filter[:200]

13529

['Farewell................92',
 'THE',
 'PROPHET',
 '|Almustafa,',
 'chosen',
 'beloved,',
 'who',
 'was',
 'dawn',
 'unto',
 'his',
 'own',
 'day,',
 'had',
 'waited',
 'twelve',
 'years',
 'in',
 'city',
 'of',
 'Orphalese',
 'for',
 'his',
 'ship',
 'that',
 'was',
 'to',
 'return',
 'bear',
 'him',
 'back',
 'to',
 'isle',
 'of',
 'his',
 'birth.',
 'And',
 'in',
 'twelfth',
 'year,',
 'on',
 'seventh',
 'day',
 'of',
 'Ielool,',
 'month',
 'of',
 'reaping,',
 'he',
 'climbed',
 'hill',
 'without',
 'city',
 'walls',
 'looked',
 'seaward;',
 'he',
 'beheld',
 'his',
 'ship',
 'coming',
 'with',
 'mist.',
 'Then',
 'gates',
 'of',
 'his',
 'heart',
 'were',
 'flung',
 'open,',
 'his',
 'joy',
 'flew',
 'far',
 'over',
 'sea.',
 'And',
 'he',
 'closed',
 'his',
 'eyes',
 'prayed',
 'in',
 'silences',
 'of',
 'his',
 'soul.',
 '*****',
 'But',
 'as',
 'he',
 'descended',
 'hill,',
 'sadness',
 'came',
 'upon',
 'him,',
 'he',
 'thought',
 'in',
 'his',
 'heart:',
 'How',
 'shall',
 'I',
 'go',
 'in',
 'peace',
 'without',
 'sorrow?',
 'Nay,',
 'not',
 'without',
 'wound',
 'in',
 'spirit',
 'shall',
 'I',
 'leave',
 'this',
 'city.',
 'days',
 'of',
 'pain',
 'I',
 'have',
 'spent',
 'within',
 'its',
 'walls,',
 'long',
 'were',
 'nights',
 'of',
 'aloneness;',
 'who',
 'can',
 'depart',
 'from',
 'his',
 'pain',
 'his',
 'aloneness',
 'without',
 'regret?',
 'Too',
 'many',
 'fragments',
 'of',
 'spirit',
 'have',
 'I',
 'scattered',
 'in',
 'these',
 'streets,',
 'too',
 'many',
 'are',
 'children',
 'of',
 'my',
 'longing',
 'that',
 'walk',
 'naked',
 'among',
 'these',
 'hills,',
 'I',
 'cannot',
 'withdraw',
 'from',
 'them',
 'without',
 'burden',
 'ache.',
 'It',
 'is',
 'not',
 'garment',
 'I',
 'cast',
 'off',
 'this',
 'day,',
 'but',
 'skin',
 'that',
 'I',
 'tear',
 'with',
 'my',
 'own',
 'hands.',
 'Nor',
 'is',
 'it',
 'thought']

# Bonus Challenge - Part 1

Rewrite the `word_filter` function above to not be case sensitive.

In [17]:
def word_filter_case(x):
    word_list = ['and', 'the', 'a', 'an']
    # Your code here:
    pass

word_list = ['and', 'the', 'a', 'an', '']
remover = lambda x: x.lower() not in word_list
prophet_filter = list(filter(remover, prophet_flat))
print(len(prophet_filter))
prophet_filter[:200]

# EASY !!!    .ISLOWER()  :)

13235

['Farewell................92',
 'PROPHET',
 '|Almustafa,',
 'chosen',
 'beloved,',
 'who',
 'was',
 'dawn',
 'unto',
 'his',
 'own',
 'day,',
 'had',
 'waited',
 'twelve',
 'years',
 'in',
 'city',
 'of',
 'Orphalese',
 'for',
 'his',
 'ship',
 'that',
 'was',
 'to',
 'return',
 'bear',
 'him',
 'back',
 'to',
 'isle',
 'of',
 'his',
 'birth.',
 'in',
 'twelfth',
 'year,',
 'on',
 'seventh',
 'day',
 'of',
 'Ielool,',
 'month',
 'of',
 'reaping,',
 'he',
 'climbed',
 'hill',
 'without',
 'city',
 'walls',
 'looked',
 'seaward;',
 'he',
 'beheld',
 'his',
 'ship',
 'coming',
 'with',
 'mist.',
 'Then',
 'gates',
 'of',
 'his',
 'heart',
 'were',
 'flung',
 'open,',
 'his',
 'joy',
 'flew',
 'far',
 'over',
 'sea.',
 'he',
 'closed',
 'his',
 'eyes',
 'prayed',
 'in',
 'silences',
 'of',
 'his',
 'soul.',
 '*****',
 'But',
 'as',
 'he',
 'descended',
 'hill,',
 'sadness',
 'came',
 'upon',
 'him,',
 'he',
 'thought',
 'in',
 'his',
 'heart:',
 'How',
 'shall',
 'I',
 'go',
 'in',
 'peace',
 'without',
 'sorrow?',
 'Nay,',
 'not',
 'without',
 'wound',
 'in',
 'spirit',
 'shall',
 'I',
 'leave',
 'this',
 'city.',
 'days',
 'of',
 'pain',
 'I',
 'have',
 'spent',
 'within',
 'its',
 'walls,',
 'long',
 'were',
 'nights',
 'of',
 'aloneness;',
 'who',
 'can',
 'depart',
 'from',
 'his',
 'pain',
 'his',
 'aloneness',
 'without',
 'regret?',
 'Too',
 'many',
 'fragments',
 'of',
 'spirit',
 'have',
 'I',
 'scattered',
 'in',
 'these',
 'streets,',
 'too',
 'many',
 'are',
 'children',
 'of',
 'my',
 'longing',
 'that',
 'walk',
 'naked',
 'among',
 'these',
 'hills,',
 'I',
 'cannot',
 'withdraw',
 'from',
 'them',
 'without',
 'burden',
 'ache.',
 'It',
 'is',
 'not',
 'garment',
 'I',
 'cast',
 'off',
 'this',
 'day,',
 'but',
 'skin',
 'that',
 'I',
 'tear',
 'with',
 'my',
 'own',
 'hands.',
 'Nor',
 'is',
 'it',
 'thought',
 'I',
 'leave',
 'behind']

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [18]:
import functools

In [22]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    # Your code here:
    pass


concater = lambda a,b: ' '.join([a,b])

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [24]:
# Your code here:
prophet_string = functools.reduce(concater, prophet_filter)
prophet_string[:400]

'Farewell................92 PROPHET |Almustafa, chosen beloved, who was dawn unto his own day, had waited twelve years in city of Orphalese for his ship that was to return bear him back to isle of his birth. in twelfth year, on seventh day of Ielool, month of reaping, he climbed hill without city walls looked seaward; he beheld his ship coming with mist. Then gates of his heart were flung open, his'

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [25]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

In [28]:
# Your code here:
pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [29]:
pm25.describe()

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,41757.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000
mean,21912.500000,2012.000000,6.523549,15.727820,11.500000,98.613215,1.817246,12.448521,1016.447654,23.889140,0.052734,0.194916
std,12651.043435,1.413842,3.448572,8.799425,6.922266,92.050387,14.433440,12.198613,10.268698,50.010635,0.760375,1.415867
min,1.000000,2010.000000,1.000000,1.000000,0.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,10956.750000,2011.000000,4.000000,8.000000,5.750000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,21912.500000,2012.000000,7.000000,16.000000,11.500000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,32868.250000,2013.000000,10.000000,23.000000,17.250000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,43824.000000,2014.000000,12.000000,31.000000,23.000000,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [35]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    # Your code here:
    pass
hourlies = lambda x: x/24

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [43]:
# Your code here:
pm25_hourly = pm25[["Iws","Is","Ir"]]
pm25_hourly = hourlies(pm25[["Iws","Is","Ir"]])

display(pm25_hourly.head(10))

        Iws   Is   Ir
0  0.074583  0.0  0.0
1  0.205000  0.0  0.0
2  0.279583  0.0  0.0
3  0.410000  0.0  0.0
4  0.540417  0.0  0.0
5  0.670833  0.0  0.0
6  0.801250  0.0  0.0
7  0.875833  0.0  0.0
8  1.006250  0.0  0.0
9  1.136667  0.0  0.0

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [51]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    # Your code here:
    pass 



## CONTINUO PRACTICANDO LAMBDAS 🤑️ 🤑️

stdd = lambda x: np.std(x)/(x.count()-1)

In [52]:
pm25_stdd = stdd(pm25_hourly)
pm25_stdd

Iws    4.754929e-05
Is     7.229519e-07
Ir     1.346183e-06
dtype: float64