# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
display(data.head())
data.shape

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

(68584, 7)

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
GrouppedByCustomerID = data.groupby(['CustomerID', 'ProductName']).agg({'Quantity':'sum'})
GrouppedByCustomerID

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
PivotTable = pd.pivot_table(GrouppedByCustomerID , index='CustomerID', values='Quantity', columns='ProductName').fillna(0).T
PivotTable

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
df = PivotTable.T 
def getDistances(df):
    distances = 1/1+squareform(pdist(df, 'euclidean'))
    distances = pd.DataFrame(distances, index=df.index, columns=df.index)
    return distances
distances = getDistances(df)
distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,12.916375,11.488088,12.224972,12.401754,12.090537,13.409674,12.045361,12.269428,12.489125,...,207.871941,214.180675,226.656819,199.232187,231.913404,221.501701,218.188858,229.628520,240.000000,230.773802
200,12.916375,1.000000,12.747340,13.083046,13.569805,13.288206,13.165525,13.083046,12.874342,13.000000,...,207.310446,213.635839,225.697575,198.139544,231.952376,221.202180,216.728997,229.010965,240.037654,230.704158
264,11.488088,12.747340,1.000000,12.489125,12.224972,12.445523,13.000000,12.401754,12.180340,12.747340,...,207.387984,213.946003,226.435135,198.600607,231.371439,220.136943,217.612557,229.081126,239.266657,230.773802
356,12.224972,13.083046,12.489125,1.000000,13.083046,12.789826,13.328828,12.135529,12.958261,13.165525,...,207.649462,214.082144,226.452878,198.494304,232.038958,220.952268,218.437347,229.098663,239.493186,230.464594
412,12.401754,13.569805,12.224972,13.083046,1.000000,12.704700,13.328828,12.135529,12.789826,12.747340,...,207.900942,212.679002,226.572605,198.630969,231.614397,220.733930,218.446545,228.997807,239.396728,229.927936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,221.501701,221.202180,220.136943,220.952268,220.733930,220.599636,220.538152,220.924987,220.827205,221.070443,...,284.945417,284.945417,303.076149,273.717803,279.388218,1.000000,274.861279,292.547595,307.186218,308.205143
98069,218.188858,216.728997,217.612557,218.437347,218.446545,218.425849,217.903204,218.294731,218.080630,217.751009,...,284.945417,284.945417,296.803989,284.945417,286.043856,274.861279,1.000000,288.228132,298.909382,295.745653
98159,229.628520,229.010965,229.081126,229.098663,228.997807,229.197283,229.028507,229.181945,228.868383,229.103047,...,284.945417,280.508497,301.000000,291.473751,301.000000,292.547595,288.228132,1.000000,305.138127,306.163890
98185,240.000000,240.037654,239.266657,239.493186,239.396728,240.006276,239.949786,239.468027,239.692271,240.334494,...,302.039864,316.238005,307.186218,293.617498,315.245127,307.186218,298.909382,305.138127,1.000000,304.108891
98200,230.773802,230.704158,230.773802,230.464594,229.927936,230.017467,230.503813,230.656265,230.997826,230.032749,...,292.547595,298.909382,295.745653,290.395923,304.108891,308.205143,295.745653,306.163890,304.108891,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [7]:
top_5_similars = [(i, distances[i].sort_values()[1:6].index) for i in distances.index]

In [8]:
# These are the customer `33`'s top 5 similar customers 
top_5_similars[0]

(33,
 Int64Index([3535, 264, 3317, 2503, 3305], dtype='int64', name='CustomerID'))

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [9]:
SimilarTo33 = GrouppedByCustomerID .loc[top_5_similars[0][1]]
SimilarTo33

                                           Quantity
CustomerID ProductName
264        Apricots - Halves                      1
           Apricots Fresh                         1
           Bacardi Breezer - Tropical             1
           Bagel - Plain                          1
           Banana - Leaves                        1
...                                             ...
3535       Tray - 16in Rnd Blk                    1
           Wanton Wrap                            1
           Wine - Blue Nun Qualitatswein          1
           Wine - Magnotta, Merlot Sr Vqa         1
           Yoghurt Tubes                          1

[270 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [10]:
RankedProducts = SimilarTo33.groupby('ProductName'
                                     ).agg({'Quantity':'sum'}
                                          ).sort_values(by='Quantity', ascending=False)
RankedProducts.head(3)

                               Quantity
ProductName
Butter - Unsalted                     3
Wine - Ej Gallo Sierra Valley         3
Towels - Paper / Kraft                3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [11]:
Customer33 = GrouppedByCustomerID .loc[33]

# Join the dataframes horizontally
CustomerAndRanked = Customer33.merge(RankedProducts,
                                     on='ProductName',
                                     how='outer',
                                     suffixes=('Customer','Similars')
                                    ).fillna(0)

# Filter for records where the chosen customer has not purchased the product.
CustomerAndRanked = CustomerAndRanked[CustomerAndRanked.QuantityCustomer < 1]

# Sort the results 
CustomerAndRanked = CustomerAndRanked.sort_values(by='QuantitySimilars', ascending=False)
display(CustomerAndRanked.head())

# Pick the top 5
TopRecommendationsCustomer33 = CustomerAndRanked[:5].index

                               QuantityCustomer  QuantitySimilars
ProductName
Butter - Unsalted                           0.0               3.0
Soup - Campbells Bean Medley                0.0               3.0
Wine - Blue Nun Qualitatswein               0.0               3.0
Wine - Ej Gallo Sierra Valley               0.0               3.0
Beans - Wax                                 0.0               2.0

In [12]:
[product for product in TopRecommendationsCustomer33]

['Butter - Unsalted',
 'Soup - Campbells Bean Medley',
 'Wine - Blue Nun Qualitatswein',
 'Wine - Ej Gallo Sierra Valley',
 'Beans - Wax']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [13]:
# This list can be reused, from step 4
print(len(top_5_similars))
top_5_similars[0:3]

1000

[(33,
  Int64Index([3535, 264, 3317, 2503, 3305], dtype='int64', name='CustomerID')),
 (200,
  Int64Index([3317, 1072, 3535, 1920, 3909], dtype='int64', name='CustomerID')),
 (264,
  Int64Index([1008, 2617, 1072, 33, 3535], dtype='int64', name='CustomerID'))]

In [14]:
# Loop the generated list, and add them to our placeholder dictionary

def recommenderSystem(top_5_similars):
    all_recommendations = {}
    for clientID, similar_clients in top_5_similars:
        all_recommendations[clientID] = similar_clients.tolist() # Index the ClientID as a dict key

        CUSTOMER = GrouppedByCustomerID .loc[clientID]
        r_products = GrouppedByCustomerID .loc[all_recommendations[clientID]]
        r_products = r_products.groupby('ProductName'
                                       ).agg({'Quantity':'sum'}
                                                        ).sort_values(by='Quantity', ascending=False)

        compared_table = CUSTOMER.merge(r_products,
                                          on='ProductName',
                                          how='outer',
                                         suffixes=('Customer','Recomended')
                                       ).fillna(0)

        # Filter the items which The Customer has not bought
        compared_table = compared_table[compared_table.QuantityCustomer < 1] 
        top_for_customerID = compared_table.sort_values(by='QuantityRecomended', ascending=False)[:5].index # Sort
        top_for_customerID = top_for_customerID.tolist()
        all_recommendations[clientID] = top_for_customerID 
    return all_recommendations

all_recommendationsV1 = recommenderSystem(top_5_similars)
all_recommendationsV1[200]

['Soup - Campbells Bean Medley',
 'Bay Leaf',
 'Pork - Kidney',
 'Wanton Wrap',
 'Muffin - Carrot Individual Wrap']

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [16]:
recommendation_matrix=pd.DataFrame(all_recommendationsV1)
recommendation_matrix

,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
0,Butter - Unsalted,Soup - Campbells Bean Medley,Soupfoamcont12oz 112con,"Veal - Inside, Choice",Olive - Spread Tapenade,Butter - Unsalted,Olive - Spread Tapenade,Cod - Black Whole Fillet,Bar - Granola Trail Mix Fruit Nut,"Veal - Inside, Choice",...,Cheese - Wine,Muffin Batt - Choc Chk,"Pork - Loin, Bone - In",Fenngreek Seed,"Placemat - Scallop, White","Soup - Campbells, Lentil",Skirt - 29 Foot,"Lamb - Whole, Fresh",Crackers - Trio,Beans - Wax
1,Soup - Campbells Bean Medley,Bay Leaf,Bread - Italian Roll With Herbs,Beef - Inside Round,Wine - Blue Nun Qualitatswein,"Pepper - Black, Whole",Wine - Blue Nun Qualitatswein,Wine - Ej Gallo Sierra Valley,Appetizer - Mushroom Tart,Wine - Ej Gallo Sierra Valley,...,"Lentils - Red, Dry",Papayas,Potatoes - Idaho 100 Count,Ice Cream Bar - Oreo Cone,Rum - Mount Gay Eclipes,"Cheese - Brie,danish",Cheese - Taleggio D.o.p.,Tea - English Breakfast,Pernod,Sherry - Dry
2,Wine - Blue Nun Qualitatswein,Pork - Kidney,"Veal - Inside, Choice",Beef - Top Sirloin,"Pepper - Black, Whole","Peas - Pigeon, Dry","Veal - Inside, Choice",Yoghurt Tubes,"Peas - Pigeon, Dry","Pepper - Black, Whole",...,Meldea Green Tea Liquor,Meldea Green Tea Liquor,Pants Custom Dry Clean,Halibut - Fletches,Tofu - Firm,Wiberg Super Cure,Beans - Kidney White,Bread - Raisin Walnut Oval,Tea - Jasmin Green,Pork - Hock And Feet Attached
3,Wine - Ej Gallo Sierra Valley,Wanton Wrap,"Fish - Scallops, Cold Smoked",Sardines,Soup - Campbells Bean Medley,Bar - Granola Trail Mix Fruit Nut,"Pepper - Black, Whole","Pepper - Black, Whole","Pepper - Black, Whole",Wine - Blue Nun Qualitatswein,...,Muffin - Carrot Individual Wrap,Wine - Chablis 2003 Champs,Cake - Box Window 10x10x2.5,"Wine - Red, Colio Cabernet",Sobe - Tropical Energy,Pants Custom Dry Clean,Milk - 1%,Chips Potato Salt Vinegar 43g,Pastry - Choclate Baked,Pears - Bosc
4,Beans - Wax,Muffin - Carrot Individual Wrap,Fondant - Icing,Lamb - Ground,"Sauce - Gravy, Au Jus, Mix","Veal - Inside, Choice",Cheese - Cambozola,Soupfoamcont12oz 112con,Lamb - Ground,Sardines,...,Coffee - Dark Roast,Mussels - Frozen,Cod - Black Whole Fillet,Grenadine,"Cheese - Boursin, Garlic / Herbs",Shrimp - 31/40,Yoghurt Tubes,Curry Paste - Madras,"Peas - Pigeon, Dry","Soup - Campbells, Cream Of"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [17]:
df = PivotTable.T 
def getDistances(df):
    distances = 1/1+squareform(pdist(df, 'jaccard'))
    distances = pd.DataFrame(distances, index=df.index, columns=df.index)
    return distances
distances = getDistances(df)
distances.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,1.943089,1.887850,1.908257,1.949153,1.937500,1.958678,1.963964,1.956140,1.945946,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
200,1.943089,1.000000,1.927419,1.943548,1.985294,1.953125,1.921875,1.960000,1.927419,1.925620,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
264,1.887850,1.927419,1.000000,1.939130,1.897436,1.940171,1.959016,1.965517,1.940171,1.956897,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
356,1.908257,1.943548,1.939130,1.000000,1.933884,1.957265,1.966942,1.917431,1.957627,1.947826,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
412,1.949153,1.985294,1.897436,1.933884,1.000000,1.950820,1.936000,1.921739,1.959350,1.940678,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [18]:
top_5_similars = [(i, distances[i].sort_values()[1:6].index) for i in distances.index]
all_recommendationsV2 = recommenderSystem(top_5_similars)

# We get different results         :P

In [20]:
print(all_recommendationsV1[33])
print(all_recommendationsV2[33])

['Butter - Unsalted', 'Soup - Campbells Bean Medley', 'Wine - Blue Nun Qualitatswein', 'Wine - Ej Gallo Sierra Valley', 'Beans - Wax']
['Loquat', 'Cheese Cloth No 100', 'Milk - 2%', 'Bananas', 'Wine - Wyndham Estate Bin 777']

In [23]:
print(all_recommendationsV1[200])
print(all_recommendationsV2[200])

['Soup - Campbells Bean Medley', 'Bay Leaf', 'Pork - Kidney', 'Wanton Wrap', 'Muffin - Carrot Individual Wrap']
['Beans - Kidney, Canned', 'Berry Brulee', 'Muffin - Carrot Individual Wrap', 'Pomello', 'Pork - Kidney']