## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1=random.sample(range(101), k=80)
print(set(sample_list_1))

{0, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 91, 93, 94, 95, 96, 98, 99, 100}

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1=set(sample_list_1)
print(set1)

print(len(set1))
print("Sigue siendo 80 debido a que la función ransom.sample elige valores únicos")

{0, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 91, 93, 94, 95, 96, 98, 99, 100}
80
Sigue siendo 80 debido a que la función ransom.sample elige valores únicos

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here

sample_list_2=[]


for e in range(100):
    sample_list_2.append(random.randrange(100))
    
print(sample_list_2)

[98, 51, 62, 75, 62, 93, 16, 82, 71, 29, 57, 50, 72, 67, 47, 2, 13, 50, 79, 9, 22, 8, 23, 63, 81, 87, 24, 91, 47, 76, 71, 95, 64, 83, 90, 40, 24, 19, 58, 82, 70, 36, 17, 82, 51, 77, 64, 91, 79, 27, 94, 63, 48, 72, 1, 82, 58, 61, 54, 39, 79, 32, 86, 79, 71, 4, 26, 15, 64, 47, 15, 69, 85, 98, 95, 82, 37, 75, 48, 12, 73, 84, 80, 78, 58, 51, 27, 61, 86, 19, 37, 27, 77, 34, 73, 11, 64, 47, 17, 14]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set2=set(sample_list_2)

print(len(set2))
print("En este caso, al hacer set de una lista con valores repetidos, el número de elementos de la lista disminuye")

61
En este caso, al hacer set de una lista con valores repetidos, el número de elementos de la lista disminuye

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here

set3=set1.difference(set2)
print(set3)

{0, 3, 6, 10, 18, 25, 28, 30, 31, 33, 35, 38, 41, 42, 43, 45, 46, 49, 53, 55, 56, 59, 60, 65, 66, 68, 74, 89, 96, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4=set2.difference(set1)
print(set4)

{1, 90, 71, 8, 40, 73, 75, 13, 54, 24, 57, 58}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here

set5=set1.intersection(set2)
print(set5)

{2, 4, 9, 11, 12, 14, 15, 16, 17, 19, 22, 23, 26, 27, 29, 32, 34, 36, 37, 39, 47, 48, 50, 51, 61, 62, 63, 64, 67, 69, 70, 72, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 91, 93, 94, 95, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [23]:
# Your code here

a=len(set1)
b=len(set2)
c=len(set3)
d=len(set4)
e=len(set5)

print(a-b==1)
print(c+d==43)
print(e==c+d+6)

True
True
True

#### Create an empty set called `set6`.

In [11]:
# Your code here

set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here

print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here

z=set2.issubset(set1)
print(z)

j=set3.issubset(set1)
print(j)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here

set345=set3.union(set4,set5)

set12=set1.union(set2)

print(set345==set12)

True

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
print(set1)

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for e in list_to_remove:
    if e in set1:
        set1.remove(e)


print("set con los elementos de la elista a eliminar borrados:\n",set1)

{2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 91, 93, 94, 95, 96, 98, 99, 100}
set con los elementos de la elista a eliminar borrados:
 {2, 3, 4, 6, 10, 12, 14, 15, 16, 17, 18, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 45, 46, 47, 48, 50, 53, 55, 56, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 93, 94, 95, 96, 98, 100}