## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [24]:
# Your code here
import random
sample_list_1 = random.sample(range(100),k=80)
print(list(sample_list_1))

[91, 46, 11, 63, 38, 8, 83, 88, 93, 75, 90, 81, 26, 17, 2, 41, 58, 57, 20, 60, 30, 34, 18, 24, 69, 45, 52, 78, 72, 43, 94, 23, 6, 28, 13, 14, 55, 0, 85, 48, 51, 54, 53, 99, 59, 9, 68, 67, 76, 97, 39, 74, 96, 77, 40, 82, 21, 31, 79, 35, 1, 19, 42, 47, 87, 62, 98, 37, 33, 80, 15, 56, 89, 50, 29, 36, 71, 64, 92, 73]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
# Your code here
random1 = random.sample(range(40),k=40)
random2 = random.sample(range(40),k=40)
sample_list_2 = random1 + random2
print(list(sample_list_2))

[15, 33, 14, 3, 12, 30, 25, 18, 20, 37, 21, 22, 16, 13, 35, 27, 31, 6, 23, 28, 32, 11, 8, 39, 4, 36, 10, 5, 24, 9, 1, 7, 0, 26, 19, 29, 38, 2, 34, 17, 11, 33, 17, 38, 8, 15, 37, 39, 3, 16, 4, 31, 5, 19, 7, 30, 26, 34, 32, 20, 18, 21, 2, 22, 13, 36, 9, 24, 28, 27, 25, 29, 23, 10, 35, 12, 0, 6, 14, 1]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

40

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
# Your code here
set3 = []
for e in set1:
    if e not in set2:
        set3.append(e)
print(set3)

[40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
# Your code here
set4 = []
for e in set2:
    if e not in set1:
        set4.append(e)
print(set4)

[3, 4, 5, 7, 10, 12, 16, 22, 25, 27, 32]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [30]:
# Your code here
set5 = []
for e in set1:
    if e in set2:
        set5.append(e)
print(set5)

[0, 1, 2, 6, 8, 9, 11, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 26, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [31]:
# Your code here
# no se como realizar la formula matemética, la relación es que todo los set diferentes de set1 tienen que sumar 
# entre ellos el mismo len que el set1. Por lo que len(set1)=len(set2)+len(set4)+len(set5) ó =len(set3)+len(set5)
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
40
51
11
29

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [36]:
# Your code here
set6 = set()
set6.update(set3, set5)
print(set6)

{0, 1, 2, 6, 8, 9, 11, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 26, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [37]:
# Your code here
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [41]:
# Your code here
z = set1.issubset(set2)
print(z)
x = set1.issubset(set3) #aquí debería salir true pero no se porque no sale
print(x)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [46]:
# Your code here
result1 = set.union(set3, set4, set5) # no entiendo porque no lo coge como un set
result2 = set.union(set1, set2)
print(result1)

TypeError: set expected at most 1 arguments, got 3

#### Using the `pop` method, remove the first element from `set1`.

In [47]:
# Your code here
print(set1.pop())

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for e in list_to_remove:
    print