# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](https://researchbasics.education.uconn.edu/t-test/) and [this Quora](https://www.quora.com/What-is-the-difference-between-a-paired-and-unpaired-t-test). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries

import pandas as pd

#### Import dataset

In this challenge we will work on the Pokemon dataset you have used last week. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [2]:
# Import dataset

pokemon = pd.read_csv('../../lab-df-calculation-and-transformation/your-code/Pokemon.csv')

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [19]:
from scipy.stats import ttest_ind
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    for f in features:
         results[f]= ttest_ind(s1[f], s2[f])[1]

        
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [ ]:
def checkpvalue(p_value):
    if p_value>0.05:
        print('we can\'t reject the null hypoyhesis')
    else:
        print('Ho can be rejected')

In [37]:
# Your code here
s1=pokemon[pokemon['Legendary']==True]
s2=pokemon[pokemon['Legendary']==False]
t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])
for key,item in res.items():
    print(key,checkpvalue(item))

Ho can be rejected
HP None
Ho can be rejected
Attack None
Ho can be rejected
Defense None
Ho can be rejected
Sp. Atk None
Ho can be rejected
Sp. Def None
Ho can be rejected
Speed None
Ho can be rejected
Total None

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here
#p_values<<0.05, so they are significantly different

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [24]:
# Your code here
s1=pokemon[pokemon['Generation']==1]
s2=pokemon[pokemon['Generation']==2]
res=t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

#### What conclusions can you make?

In [25]:
for key,item in res.items():
    print(key,checkpvalue(item))

we can't reject the null hypoyhesis
HP None
we can't reject the null hypoyhesis
Attack None
we can't reject the null hypoyhesis
Defense None
we can't reject the null hypoyhesis
Sp. Atk None
we can't reject the null hypoyhesis
Sp. Def None
Ho can be rejected
Speed None
we can't reject the null hypoyhesis
Total None

#### Compare pokemons who have single type vs those having two types.

In [34]:
s1=s1[df.isnull().sum(axis=1)>0]
s1

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
160,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
165,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False

In [36]:
# Your code here
df=pokemon[['Type 1','Type 2']]
s1=s1[df.isnull().sum(axis=1)>0]
s2=s1[~df.isnull().sum(axis=1)>0]

res=t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])
for key,item in res.items():
    print(key)
    checkpvalue(item)

HP
Ho can be rejected
Attack
Ho can be rejected
Defense
Ho can be rejected
Sp. Atk
Ho can be rejected
Sp. Def
Ho can be rejected
Speed
Ho can be rejected
Total
Ho can be rejected

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

#### What conclusions can you make?

In [ ]:
# Your comment here
#Pokemon with more than one type are significatively different in all the parameters

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [40]:
# Your code here
    
result= ttest_ind(pokemon['Attack'], pokemon['Defense'])[1]
checkpvalue(result)

Ho can be rejected

In [41]:
result= ttest_ind(pokemon['Sp. Atk'], pokemon['Sp. Def'])[1]
checkpvalue(result)

we can't reject the null hypoyhesis

#### What conclusions can you make?

Pokemon are significantly different as for Attack and Defense, while they are not significatly different as for Special Atacks and Special Defenses.