# Lab | Advanced MySQL

### Conectar con la base de datos

In [1]:
import pymysql
import sqlalchemy as db
from getpass import getpass
import pandas as pd

In [2]:
password = getpass("Mysql Password: ")

dbName = "publications"

connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

engine = db.create_engine(connectionData)
print("Connected to server!")

Mysql Password: ········
Connected to server!

## Challenge 1 - Most Profiting Authors

Os subo también el archivo sql (Challenge1.sql) de este apartado porque me da error al ejecutarlo. He borrado las tablas temporales de mi base de datos para que no hubiera conflictos y aún así me sigue dando error.

In [8]:
df1 = pd.read_sql_query("""
CREATE TEMPORARY TABLE step_1
SELECT 
	titles.title_id,
    titleauthor.au_id,
    (titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty
FROM titleauthor
INNER JOIN titles
	ON titleauthor.title_id = titles.title_id
INNER JOIN sales
	ON sales.title_id = titles.title_id


CREATE TEMPORARY TABLE step_2
SELECT
	title_id,
    au_id,
    SUM(sales_royalty) as au_title_royalty
FROM step_1
GROUP BY title_id, au_id


SELECT
	step_2.au_id AS 'AUTHOR ID',
    ROUND(SUM(step_2.au_title_royalty + titles.advance),2) AS 'PROFITS'
FROM step_2
INNER JOIN titles
	ON titles.title_id = step_2.title_id
GROUP BY titles.title_id, step_2.au_id
ORDER BY SUM(step_2.au_title_royalty + titles.advance) desc
LIMIT 3
""", engine)

# Mostrar el resultado
df1

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CREATE TEMPORARY TABLE step_2\nSELECT\n\ttitle_id,\n    au_id,\n    SUM(sales_royalty' at line 13")
[SQL:
CREATE TEMPORARY TABLE step_1
SELECT
	titles.title_id,
    titleauthor.au_id,
    (titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty
FROM titleauthor
INNER JOIN titles
	ON titleauthor.title_id = titles.title_id
INNER JOIN sales
	ON sales.title_id = titles.title_id


CREATE TEMPORARY TABLE step_2
SELECT
	title_id,
    au_id,
    SUM(sales_royalty) as au_title_royalty
FROM step_1
GROUP BY title_id, au_id


SELECT
	step_2.au_id AS 'AUTHOR ID',
    ROUND(SUM(step_2.au_title_royalty + titles.advance),2) AS 'PROFITS'
FROM step_2
INNER JOIN titles
	ON titles.title_id = step_2.title_id
GROUP BY titles.title_id, step_2.au_id
ORDER BY SUM(step_2.au_title_royalty + titles.advance) desc
LIMIT 3
]
(Background on this error at: http://sqlalche.me/e/f405)

## Challenge 2 - Alternative Solution

In [7]:
df2 = pd.read_sql_query("""
SELECT
	step_2.au_id AS 'AUTHOR ID',
    ROUND(SUM(step_2.au_title_royalty + titles.advance),2) AS 'PROFITS'
FROM (
	SELECT
		title_id,
		au_id,
		SUM(sales_royalty) as au_title_royalty
	FROM (
		SELECT 
			titles.title_id,
			titleauthor.au_id,
			(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty
		FROM titleauthor
		INNER JOIN titles
			ON titleauthor.title_id = titles.title_id
		INNER JOIN sales
			ON sales.title_id = titles.title_id
		) as step_1
	GROUP BY title_id, au_id
) as step_2
INNER JOIN titles
	ON titles.title_id = step_2.title_id
GROUP BY titles.title_id, step_2.au_id
ORDER BY SUM(step_2.au_title_royalty + titles.advance) desc
LIMIT 3
""", engine)

# Mostrar el resultado
df2

     AUTHOR ID   PROFITS
0  722-51-5454  15021.53
1  899-46-2035  15007.18
2  213-46-8915  10150.12

## Challenge 3

Al igual que en el Challenge 1, me da un error en el que dice que la tabla most_profiting_authors ya existe, a pesar de que la borré de la base datos. Os dejo la solución en Challenge3.sql

In [16]:
df3 = pd.read_sql_query("""
CREATE TABLE most_profiting_authors AS (
SELECT
	step_2.au_id AS 'AUTHOR ID',
    ROUND(SUM(step_2.au_title_royalty + titles.advance),2) AS 'PROFITS'
FROM (
	SELECT
		title_id,
		au_id,
		SUM(sales_royalty) as au_title_royalty
	FROM (
		SELECT 
			titles.title_id,
			titleauthor.au_id,
			(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty
		FROM titleauthor
		INNER JOIN titles
			ON titleauthor.title_id = titles.title_id
		INNER JOIN sales
			ON sales.title_id = titles.title_id
		) as step_1
	GROUP BY title_id, au_id
) as step_2
INNER JOIN titles
	ON titles.title_id = step_2.title_id
GROUP BY titles.title_id, step_2.au_id
ORDER BY SUM(step_2.au_title_royalty + titles.advance) desc
LIMIT 3
)
""", engine)

# Mostrar el resultado
df3

InternalError: (pymysql.err.InternalError) (1050, "Table 'most_profiting_authors' already exists")
[SQL:
CREATE TABLE most_profiting_authors AS (
SELECT
	step_2.au_id AS 'AUTHOR ID',
    ROUND(SUM(step_2.au_title_royalty + titles.advance),2) AS 'PROFITS'
FROM (
	SELECT
		title_id,
		au_id,
		SUM(sales_royalty) as au_title_royalty
	FROM (
		SELECT
			titles.title_id,
			titleauthor.au_id,
			(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty
		FROM titleauthor
		INNER JOIN titles
			ON titleauthor.title_id = titles.title_id
		INNER JOIN sales
			ON sales.title_id = titles.title_id
		) as step_1
	GROUP BY title_id, au_id
) as step_2
INNER JOIN titles
	ON titles.title_id = step_2.title_id
GROUP BY titles.title_id, step_2.au_id
ORDER BY SUM(step_2.au_title_royalty + titles.advance) desc
LIMIT 3
)
]
(Background on this error at: http://sqlalche.me/e/2j85)