In [1]:
import sqlalchemy as db
from getpass import getpass

In [2]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [4]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [5]:
import pandas as pd

In [6]:
###### Challenge 1 

# Step 1
# A pesar de sacar error aquí funciona en la terminal!!

%time
df = pd.read_sql_query("""
CREATE TABLE paso1 (SELECT  ord_num, 
	tit_au.au_id,
	tit_au.title_id,
	(tit_au.price * sales.qty * tit_au.royalty / 100 * tit_au.royaltyper / 100) AS sales_royalty 
	FROM sales
	RIGHT JOIN ( 
		SELECT 
			titleauthor.royaltyper AS royaltyper, 			
			titleauthor.au_id AS au_id, 
			titles.title_id	AS title_id,
			titles.royalty AS royalty,
			titles.price as price
		FROM titles
		RIGHT JOIN titleauthor
		ON titles.title_id = titleauthor.title_id
	) AS tit_au
	ON sales.title_id = tit_au.title_id);
""", engine)

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 6.2 µs

InternalError: (pymysql.err.InternalError) (1050, "Table 'paso1' already exists")
[SQL:
CREATE TABLE paso1 (SELECT  ord_num,
	tit_au.au_id,
	tit_au.title_id,
	(tit_au.price * sales.qty * tit_au.royalty / 100 * tit_au.royaltyper / 100) AS sales_royalty
	FROM sales
	RIGHT JOIN (
		SELECT
			titleauthor.royaltyper AS royaltyper,
			titleauthor.au_id AS au_id,
			titles.title_id	AS title_id,
			titles.royalty AS royalty,
			titles.price as price
		FROM titles
		RIGHT JOIN titleauthor
		ON titles.title_id = titleauthor.title_id
	) AS tit_au
	ON sales.title_id = tit_au.title_id);
]
(Background on this error at: http://sqlalche.me/e/2j85)

In [8]:
%time
df1 = pd.read_sql_query("""
SELECT * from paso1;
""", engine)
df1

CPU times: user 5 µs, sys: 1e+03 ns, total: 6 µs
Wall time: 10 µs

     ord_num        au_id title_id  sales_royalty
0     P3087a  172-32-1176   PS3333         29.985
1       6871  213-46-8915   BU1032          3.998
2   423LL930  213-46-8915   BU1032          7.996
3       X999  213-46-8915   BU2075         25.116
4    QA879.1  238-95-7766   PC1035        110.160
5       P723  267-41-2394   BU1111         11.950
6      P2121  267-41-2394   TC7777          8.994
7     QQ2299  274-80-9391   BU7832         29.985
8       6871  409-56-7008   BU1032          5.997
9   423LL930  409-56-7008   BU1032         11.994
10     A2976  427-17-2319   PC8888         50.000
11     P2121  472-27-2349   TC7777          8.994
12      None  486-29-1786   PC9999            NaN
13    P3087a  486-29-1786   PS7777         19.975
14     P2121  648-92-1872   TC4203         33.460
15     P2121  672-71-3249   TC7777         11.992
16     TQ456  712-45-1867   MC2222         23.988
17   N914014  722-51-5454   MC3021         13.455
18  423LL922  722-51-5454   MC3021          8.073
19      P723  724-80-9391   BU1111         17.925
20    P3087a  724-80-9391   PS1372         10.795
21    P3087a  756-30-7391   PS1372         32.385
22     P2121  807-91-6654   TC3218         83.800
23     A2976  846-92-7186   PC8888         50.000
24   N914014  899-46-2035   MC3021          4.485
25  423LL922  899-46-2035   MC3021          2.691
26      722a  899-46-2035   PS2091          1.971
27  QA7442.3  899-46-2035   PS2091         49.275
28     D4482  899-46-2035   PS2091          6.570
29   N914008  899-46-2035   PS2091         13.140
30      722a  998-72-3567   PS2091          1.971
31  QA7442.3  998-72-3567   PS2091         49.275
32     D4482  998-72-3567   PS2091          6.570
33   N914008  998-72-3567   PS2091         13.140
34    P3087a  998-72-3567   PS2106         17.500

In [9]:
# step 2
%time
df2 = pd.read_sql_query("""
SELECT title_id AS `Title ID`, au_id AS `AUTHOR ID`, 
	sum(if(sales_royalty is not null,sales_royalty,0)) AS Aggregate_royalties 
	FROM paso1
	GROUP BY title_id, au_id;
""", engine)
df2

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 6.2 µs

   Title ID    AUTHOR ID  Aggregate_royalties
0    BU1032  213-46-8915               11.994
1    BU1032  409-56-7008               17.991
2    BU1111  267-41-2394               11.950
3    BU1111  724-80-9391               17.925
4    BU2075  213-46-8915               25.116
5    BU7832  274-80-9391               29.985
6    MC2222  712-45-1867               23.988
7    MC3021  722-51-5454               21.528
8    MC3021  899-46-2035                7.176
9    PC1035  238-95-7766              110.160
10   PC8888  427-17-2319               50.000
11   PC8888  846-92-7186               50.000
12   PC9999  486-29-1786                0.000
13   PS1372  724-80-9391               10.795
14   PS1372  756-30-7391               32.385
15   PS2091  899-46-2035               70.956
16   PS2091  998-72-3567               70.956
17   PS2106  998-72-3567               17.500
18   PS3333  172-32-1176               29.985
19   PS7777  486-29-1786               19.975
20   TC3218  807-91-6654               83.800
21   TC4203  648-92-1872               33.460
22   TC7777  267-41-2394                8.994
23   TC7777  472-27-2349                8.994
24   TC7777  672-71-3249               11.992

In [10]:
# step 3
%time
df3 = pd.read_sql_query("""
SELECT `AUTHOR ID`, sum(Aggregate_royalties) AS Profits
	FROM (
		SELECT title_id AS `Title ID`, au_id AS `AUTHOR ID`, 
			sum(if(sales_royalty is not null,sales_royalty,0)) AS Aggregate_royalties 
			FROM paso1
			GROUP BY title_id, au_id
	    ) AS paso_2
	GROUP BY `AUTHOR ID`
	ORDER BY Profits DESC LIMIT 3;
""", engine)
df3

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.58 µs

     AUTHOR ID  Profits
0  238-95-7766  110.160
1  998-72-3567   88.456
2  807-91-6654   83.800

In [11]:
###### Challenge 2 -> I used create temporary tables in the first step the derivated tables,
###### here I am going to change the order

# setp 1 setp 2 y step 3

%time
df123 = pd.read_sql_query("""
 SELECT `AUTHOR ID` AS au_id, sum(Aggregate_royalties) AS profits
	FROM (
	SELECT title_id AS `Title ID`, au_id AS `AUTHOR ID`, 
		sum(if(sales_royalty is not null,sales_royalty,0)) AS Aggregate_royalties 
			FROM (	SELECT  
			ord_num, 
			tit_au.au_id,
			tit_au.title_id,
			(tit_au.price * sales.qty * tit_au.royalty / 100 * tit_au.royaltyper / 100) AS sales_royalty 
			FROM sales
			RIGHT JOIN ( 
				SELECT 
					titleauthor.royaltyper AS royaltyper, 			
					titleauthor.au_id AS au_id, 
					titles.title_id	AS title_id,
					titles.royalty AS royalty,
					titles.price as price
				FROM titles
				RIGHT JOIN titleauthor
				ON titles.title_id = titleauthor.title_id
			) AS tit_au
			ON sales.title_id = tit_au.title_id
			) as step_1
		GROUP BY title_id, au_id
	    ) AS paso_2
	GROUP BY `AUTHOR ID`
	ORDER BY Profits DESC LIMIT 3;
""", engine)
df123

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 9.78 µs

         au_id  profits
0  238-95-7766  110.160
1  998-72-3567   88.456
2  807-91-6654   83.800

In [12]:
# Challenge 3 -> 

%time
dfc3 = pd.read_sql_query("""
CREATE TABLE most_profiting_authors (
	SELECT `AUTHOR ID`, sum(Aggregate_royalties) AS Profits
	FROM (
	SELECT title_id AS `Title ID`, au_id AS `AUTHOR ID`, 
		sum(if(sales_royalty is not null,sales_royalty,0)) AS Aggregate_royalties 
			FROM (	SELECT  
			ord_num, 
			tit_au.au_id,
			tit_au.title_id,
			(tit_au.price * sales.qty * tit_au.royalty / 100 * tit_au.royaltyper / 100) AS sales_royalty 
			FROM sales
			RIGHT JOIN ( 
				SELECT 
					titleauthor.royaltyper AS royaltyper, 			
					titleauthor.au_id AS au_id, 
					titles.title_id	AS title_id,
					titles.royalty AS royalty,
					titles.price as price
				FROM titles
				RIGHT JOIN titleauthor
				ON titles.title_id = titleauthor.title_id
			) AS tit_au
			ON sales.title_id = tit_au.title_id
			) as step_1
		GROUP BY title_id, au_id
	    ) AS paso_2
	GROUP BY `AUTHOR ID`
	ORDER BY Profits DESC LIMIT 3);
""", engine)
dfc3

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 8.82 µs

InternalError: (pymysql.err.InternalError) (1050, "Table 'most_profiting_authors' already exists")
[SQL:
CREATE TABLE most_profiting_authors (
	SELECT `AUTHOR ID`, sum(Aggregate_royalties) AS Profits
	FROM (
	SELECT title_id AS `Title ID`, au_id AS `AUTHOR ID`,
		sum(if(sales_royalty is not null,sales_royalty,0)) AS Aggregate_royalties
			FROM (	SELECT
			ord_num,
			tit_au.au_id,
			tit_au.title_id,
			(tit_au.price * sales.qty * tit_au.royalty / 100 * tit_au.royaltyper / 100) AS sales_royalty
			FROM sales
			RIGHT JOIN (
				SELECT
					titleauthor.royaltyper AS royaltyper,
					titleauthor.au_id AS au_id,
					titles.title_id	AS title_id,
					titles.royalty AS royalty,
					titles.price as price
				FROM titles
				RIGHT JOIN titleauthor
				ON titles.title_id = titleauthor.title_id
			) AS tit_au
			ON sales.title_id = tit_au.title_id
			) as step_1
		GROUP BY title_id, au_id
	    ) AS paso_2
	GROUP BY `AUTHOR ID`
	ORDER BY Profits DESC LIMIT 3);
]
(Background on this error at: http://sqlalche.me/e/2j85)

In [13]:
## a pesar del error funciona:
%time
dfc3 = pd.read_sql_query("""
SELECT * FROM most_profiting_authors;
""", engine)
dfc3

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 10 µs

     AUTHOR ID  Profits
0  238-95-7766  110.160
1  998-72-3567   88.456
2  807-91-6654   83.800