In [ ]:
import sqlalchemy as db
import pandas as pd


from getpass import getpass
password=getpass("My sql password: ")
dbName="publications"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = db.create_engine(connectionData)
print("Connected to server!")

In [ ]:
#CHALLANGE 1
df1 = pd.read_sql_query("""
 SELECT t.title_id AS "TITLE ID" ,au.au_id AS "AUTHOR ID", t.price*s.qty*t.royalty/100 *tta.royaltyper/100 sales_royalty
	FROM authors as au
	  JOIN titleauthor AS tta
		ON tta.au_id = au.au_id
	  JOIN titles AS t
		ON tta.title_id = t.title_id
	  LEFT JOIN sales as s
		on t.title_id=s.title_id;

""", engine)
display(df1)

In [ ]:
df2 = pd.read_sql_query("""
 SELECT t.title_id AS "TITLE ID" ,au.au_id AS "AUTHOR ID", SUM(t.price*s.qty*t.royalty/100 *tta.royaltyper/100) sales_royalty
	FROM authors as au
	  JOIN titleauthor AS tta
		ON tta.au_id = au.au_id
	  JOIN titles AS t
		ON tta.title_id = t.title_id
	  LEFT JOIN sales as s
		on t.title_id=s.title_id
	GROUP BY au.au_id,t.title_id;

""", engine)
display(df2)

In [ ]:
df3 = pd.read_sql_query("""
 SELECT AUTHOR_ID, SUM(sales_royalty) + SUM(tta.royaltyper*t.advance) PROFIT
	FROM (SELECT t.title_id AS TITLE_ID ,au.au_id AS AUTHOR_ID, SUM(t.price*s.qty*t.royalty/100 *tta.royaltyper/100) sales_royalty
	FROM authors as au
	  JOIN titleauthor AS tta
		ON tta.au_id = au.au_id
	  JOIN titles AS t
		ON tta.title_id = t.title_id
	  LEFT JOIN sales as s
		on t.title_id=s.title_id
	GROUP BY au.au_id,t.title_id) AS ROY
    JOIN titleauthor AS tta
		ON tta.au_id = ROY.AUTHOR_ID
	  JOIN titles AS t
		ON tta.title_id = t.title_id
    
	 GROUP BY AUTHOR_ID
     ORDER BY PROFIT DESC
     LIMIT 3;
--     

""", engine)
display(df3)

In [ ]:
#CHALLANGE 2 IS IN THE .SQL FILE

In [ ]:
#CHALLANGE3 IS IN THE .SQL FILE