# Challenge 1

In [4]:
import sqlalchemy as db
from getpass import getpass

In [5]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [6]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [7]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [8]:
import pandas as pd

In [10]:
df = pd.read_sql_query("""

SELECT t.title_id AS "TITLE" , tta.au_id "AUTHOR ID", round(t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100,2) AS "SALES_ROYALTY"
    
    FROM titles AS t 
    INNER JOIN titleauthor AS tta
    ON  t.title_id = tta.title_id
    INNER JOIN authors AS au
    ON tta.au_id = au.au_id
    INNER JOIN sales as s
    ON t.title_id=s.title_id
    
""", engine)

In [11]:
df.head()

    TITLE    AUTHOR ID  SALES_ROYALTY
0  BU1032  213-46-8915           4.00
1  BU1032  409-56-7008           6.00
2  PS2091  899-46-2035           1.97
3  PS2091  998-72-3567           1.97
4  PC8888  427-17-2319          50.00

# Challenge 2

In [10]:
df = pd.read_sql_query("""

SELECT sum(SR)

FROM (
SELECT t.title_id AS "TITLE" , tta.au_id "AUTHOR ID", round(t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100,3) AS "SR"
		FROM titles AS t 
		INNER JOIN titleauthor AS tta
		ON  t.title_id = tta.title_id
		INNER JOIN authors AS au
		ON tta.au_id = au.au_id
        INNER JOIN sales as s
		ON t.title_id=s.title_id
		)
        AS s1
        
ORDER BY s1.au_id, s1.title_id
    
""", engine)

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 's1.au_id' in 'order clause'")
[SQL:

SELECT sum(SR)

FROM (
SELECT t.title_id AS "TITLE" , tta.au_id "AUTHOR ID", round(t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100,3) AS "SR"
		FROM titles AS t
		INNER JOIN titleauthor AS tta
		ON  t.title_id = tta.title_id
		INNER JOIN authors AS au
		ON tta.au_id = au.au_id
        INNER JOIN sales as s
		ON t.title_id=s.title_id
		)
        AS s1

ORDER BY s1.au_id, s1.title_id

]
(Background on this error at: http://sqlalche.me/e/2j85)

In [ ]:
FROM (
SELECT t.title_id AS "TITLE" , tta.au_id "AUTHOR ID", round(t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100,3) AS "SR"
		FROM titles AS t 
		INNER JOIN titleauthor AS tta
		ON  t.title_id = tta.title_id
		INNER JOIN authors AS au
		ON tta.au_id = au.au_id
        INNER JOIN sales as s
		ON t.title_id=s.title_id
		)
        AS s1
        
ORDER BY s1.au_id, s1.title_id