In [38]:
import sqlalchemy as db
from getpass import getpass

In [39]:
password=getpass("MYSQL p: ")

MYSQL p: ········

In [40]:
dbName="Publications"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [41]:
engine=db.create_engine(connectionData)
print("Connected to server")

Connected to server

In [42]:
import pandas as pd

In [51]:
#YA NO SE DONDE TENGO EL ERROR, LO HE INTENTADO MIL VECES. EN WORKBENCH ME SALE CORRECTO Y AQUÍ NO, NO LO ENTIENDO.
df= pd.read_sql_query("""
CREATE TEMPORARY TABLE TT1 
SELECT 
	T.title_id AS  "Title_ID",
	A.au_id AS "Author_ID", 
	T.price*S.qty*T.royalty/100*TA.royaltyper/100 AS "sales_royalty"
    FROM titles as T
		LEFT JOIN titleauthor as TA
		ON T.title_id = TA.title_id
		LEFT JOIN authors as A
		ON TA.au_id = A.au_id
		RIGHT JOIN sales as S
		ON S.title_id = T.title_id;

CREATE TEMPORARY TABLE TT2
SELECT Title_ID, Author_ID, sum(sales_royalty) AS "SumRoy"
FROM TT1
	GROUP BY Title_ID , Author_ID;
    
SELECT Author_ID, (SumRoy + T.advance) AS "Profit"
FROM TT2
RIGHT JOIN titles as T ON T.title_id = TT2.title_id
ORDER BY Profit DESC 
LIMIT 3
""", engine)
df

ProgrammingError: (pymysql.err.ProgrammingError) (1064, 'You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'CREATE TEMPORARY TABLE TT2\nSELECT Title_ID, Author_ID, sum(sales_royalty) AS "Su\' at line 14')
[SQL:
CREATE TEMPORARY TABLE TT1
SELECT
	T.title_id AS  "Title_ID",
	A.au_id AS "Author_ID",
	T.price*S.qty*T.royalty/100*TA.royaltyper/100 AS "sales_royalty"
    FROM titles as T
		LEFT JOIN titleauthor as TA
		ON T.title_id = TA.title_id
		LEFT JOIN authors as A
		ON TA.au_id = A.au_id
		RIGHT JOIN sales as S
		ON S.title_id = T.title_id;

CREATE TEMPORARY TABLE TT2
SELECT Title_ID, Author_ID, sum(sales_royalty) AS "SumRoy"
FROM TT1
	GROUP BY Title_ID , Author_ID;

SELECT Author_ID, (SumRoy + T.advance) AS "Profit"
FROM TT2
RIGHT JOIN titles as T ON T.title_id = TT2.title_id
ORDER BY Profit DESC
LIMIT 3
]
(Background on this error at: http://sqlalche.me/e/f405)

In [46]:
df2= pd.read_sql_query("""
SELECT Author_ID, (SumRoy + T.advance) AS "Profit"
FROM (
SELECT Title_ID, Author_ID, sum(sales_royalty) AS "SumRoy"
	FROM (	
		SELECT 
			T.title_id AS  "Title_ID",
			A.au_id AS "Author_ID", 
			T.price*S.qty*T.royalty/100*TA.royaltyper/100 AS "sales_royalty"
				FROM titles as T
					LEFT JOIN titleauthor as TA
						ON T.title_id = TA.title_id
					LEFT JOIN authors as A
						ON TA.au_id = A.au_id
					RIGHT JOIN sales as S
						ON S.title_id = T.title_id
			) AS IDK
					GROUP BY Title_ID , Author_ID
) AS IDK2

RIGHT JOIN titles as T ON T.title_id = IDK2.title_id
ORDER BY Profit DESC 
LIMIT 3
""", engine)
df2

     Author_ID     Profit
0  722-51-5454  15021.528
1  899-46-2035  15007.176
2  213-46-8915  10150.116

In [52]:
df3= pd.read_sql_query("""
CREATE TABLE most_profiting_authors

SELECT Author_ID, (SumRoy + T.advance) AS "Profit"

FROM (
					SELECT Title_ID, Author_ID, sum(sales_royalty) AS "SumRoy"

					FROM (
										SELECT 

										T.title_id AS  "Title_ID",
										A.au_id AS "Author_ID", 
										T.price*S.qty*T.royalty/100*TA.royaltyper/100 AS "sales_royalty"

										FROM titles as T
										LEFT JOIN titleauthor as TA
										ON T.title_id = TA.title_id
										LEFT JOIN authors as A
										ON TA.au_id = A.au_id
										RIGHT JOIN sales as S
										ON S.title_id = T.title_id

								) AS I

					GROUP BY Title_ID , Author_ID

) AS II

RIGHT JOIN titles as T ON T.title_id = II.title_id
ORDER BY Profit DESC
""", engine)
df3

InternalError: (pymysql.err.InternalError) (1050, "Table 'most_profiting_authors' already exists")
[SQL:
CREATE TABLE most_profiting_authors

SELECT Author_ID, (SumRoy + T.advance) AS "Profit"

FROM (
					SELECT Title_ID, Author_ID, sum(sales_royalty) AS "SumRoy"

					FROM (
										SELECT

										T.title_id AS  "Title_ID",
										A.au_id AS "Author_ID",
										T.price*S.qty*T.royalty/100*TA.royaltyper/100 AS "sales_royalty"

										FROM titles as T
										LEFT JOIN titleauthor as TA
										ON T.title_id = TA.title_id
										LEFT JOIN authors as A
										ON TA.au_id = A.au_id
										RIGHT JOIN sales as S
										ON S.title_id = T.title_id

								) AS I

					GROUP BY Title_ID , Author_ID

) AS II

RIGHT JOIN titles as T ON T.title_id = II.title_id
ORDER BY Profit DESC
]
(Background on this error at: http://sqlalche.me/e/2j85)