# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [6]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [1]:
list1 = [i for i in range(1,51)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [5]:
list2 = [i for i in range(1,200) if i%2==0]
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [94]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [98]:
# list3 = [elem for peq in grande for elem in peq]      # EJEMPLO CLARA 

list3 = [elem for peq in a for elem in peq ]

print(list3, len(list3))
print(list3 == a.flatten())

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763] 40
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [100]:
#list4 = [e for e in a.flatten() if e >= 0.5]
list4 = [e for p in a for e in p if e >= 0.5]
print(list4, len(list4))

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126] 19

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [138]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [111]:
list5 = [elem for mediano in b for peq in mediano for elem in peq]     # EJEMPLO CLARA 
print(list5, len(list5))

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688] 30

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [137]:
list6 = [peq[-1]
         for mediano in b 
         for peq in mediano
         if peq[-1] <= 0.5]
print(list6, len(list6))

[0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688] 8

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [148]:
list7 = [file for file in os.listdir(path="../data/") if file.endswith('csv')]
print(list7)

['sample_file_6.csv', 'sample_file_7.csv', 'sample_file_3.csv', 'sample_file_5.csv', 'sample_file_0.csv', 'sample_file_9.csv', 'sample_file_2.csv', 'sample_file_1.csv', 'sample_file_4.csv', 'sample_file_8.csv']

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [214]:
list8 = ["../data/"+e for e in list7]
print(list8)

array = np.empty((0,20), dtype='float')

#df = pd.DataFrame(array)
#display(df.head(10))

for i in range(len(list8)):
    array = np.concatenate([array, pd.read_csv(list8[i])])

df = pd.DataFrame(array)
df.head(10)

['../data/sample_file_6.csv', '../data/sample_file_7.csv', '../data/sample_file_3.csv', '../data/sample_file_5.csv', '../data/sample_file_0.csv', '../data/sample_file_9.csv', '../data/sample_file_2.csv', '../data/sample_file_1.csv', '../data/sample_file_4.csv', '../data/sample_file_8.csv']

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.702566,0.092336,0.245083,0.918402,0.695110,0.886921,0.588605,0.950970,0.168079,0.783107,0.698836,0.120857,0.207432,0.824789,0.349212,0.818606,0.376941,0.886644,0.472826,0.551858
1,0.177005,0.649551,0.467321,0.449597,0.458872,0.815586,0.455132,0.729812,0.998528,0.048724,0.377391,0.729498,0.721515,0.566724,0.338366,0.877239,0.129824,0.773155,0.485385,0.686294
2,0.689556,0.445586,0.005691,0.150171,0.554146,0.492320,0.185612,0.060855,0.457443,0.847337,0.603072,0.346574,0.898464,0.482963,0.443979,0.430132,0.713078,0.302786,0.051382,0.203699
3,0.047188,0.854596,0.833368,0.043878,0.883505,0.786302,0.980916,0.004030,0.619601,0.547769,0.160962,0.545281,0.931623,0.991855,0.821099,0.654592,0.346710,0.183948,0.372739,0.739383
4,0.936065,0.725831,0.184239,0.677391,0.242726,0.125457,0.356254,0.937350,0.215774,0.212762,0.483018,0.573162,0.634487,0.423924,0.394633,0.766967,0.606719,0.538712,0.885516,0.667051
5,0.460281,0.308551,0.735894,0.054059,0.593642,0.397679,0.019922,0.855673,0.339445,0.895810,0.832431,0.553308,0.617711,0.841575,0.336094,0.951907,0.050986,0.856135,0.773953,0.295344
6,0.065851,0.736029,0.797730,0.692722,0.167764,0.839756,0.910186,0.643328,0.371559,0.674311,0.424815,0.279397,0.015081,0.788497,0.132391,0.766033,0.708510,0.752866,0.493862,0.577262
7,0.671323,0.747296,0.892328,0.732902,0.065608,0.262364,0.712417,0.764379,0.017461,0.131970,0.649451,0.902157,0.034188,0.840938,0.098536,0.957824,0.566209,0.655947,0.592733,0.002596
8,0.445478,0.523522,0.959355,0.348292,0.761805,0.301391,0.712240,0.945462,0.139241,0.105477,0.889501,0.160828,0.400774,0.770295,0.844655,0.772798,0.584262,0.807400,0.177419,0.926007
9,0.291399,0.551248,0.736542,0.163562,0.451149,0.888938,0.968465,0.396090,0.681679,0.390542,0.030394,0.944077,0.366139,0.078188,0.175482,0.232489,0.806964,0.904593,0.803629,0.792851

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [235]:
#f = [i for i in df.count(axis='rows')]
f = [column for column in df.T]

#for column in df:
 #   display(column)
    
#df.describe().T['mean']

for column in df:
    print(column, df[column].median())

0 0.5183927088531357
1 0.4982976284251167
2 0.47617375620406
3 0.6177974469785128
4 0.5443924803856541
5 0.6525702257070289
6 0.5895587762839766
7 0.6525833914513712
8 0.4841639880065958
9 0.4561419452336911
10 0.5294121425646423
11 0.5175904648111134
12 0.45088123042636974
13 0.6935141238122557
14 0.4326206030433662
15 0.5742865070877934
16 0.527874493149453
17 0.47384343112174854
18 0.5370667066122712
19 0.5563000721000172

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.