# Advanced Querying Mongo

Importing libraries and setting up connection

In [55]:
from pymongo import MongoClient
from pymongo import ASCENDING, DESCENDING
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [56]:
cur = db.list_collections()

for collection in cur:
    print(collection)

{'name': 'companies', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': UUID('3b3b6d04-5da8-40a5-83ad-770410fb9cc0')}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_', 'ns': 'companies.companies'}}

In [74]:
# Your Code
nameBabel = list(map( lambda x: x["name"] ,db.companies.find({"name":"Babelgum"},{"name":1,"_id":0})))
nameBabel

['Babelgum']

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [167]:
# Your Code
moreThan5000=list(map( lambda x: x["name"], db.companies.find({"number_of_employees":{"$gt":5000}},{"name":1,"_id":0}).sort([("number_of_employees",DESCENDING)]).limit(20)))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [134]:
# Your Code
founded=list(db.companies.find({"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]},{"name":1,"founded_year":1,"_id":0}))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [140]:
# Your Code
valuationA=list(db.companies.find({"$and":[{"ipo.valuation_amount":{"$gt":100000000}}]},{"name":1,"ipo":1,"_id":0}))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [143]:
# Your Code
lessBefore=list(map(lambda x: x["name"],db.companies.find({"$and":[{"number_of_employees":{"$lt":1000}},{"founded_year":{"$lt":2005}}]}).sort([("number_of_employees",DESCENDING)]).limit(10)))

### 6. All the companies that don't include the `partners` field.

In [160]:
# Your Code
allCompaniesd=list(map(lambda x: x["name"],db.companies.find({"$and":[{"partners":{"$exists":"True"}},{"partners":{"$size":0}}]})))

### 7. All the companies that have a null type of value on the `category_code` field.

In [156]:
# Your Code
allCompaniesnull=list(map(lambda x: x["name"],db.companies.find({"category_code":{"$type":"null"}})))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [162]:
# Your Code
allCompanies100e=list(map(lambda x: x["name"],db.companies.find({"$and":[{"number_of_employees":{"$gt":100}},{"number_of_employees":{"$lt":1000}}]})))

### 9. Order all the companies by their IPO price in a descending order.

In [163]:
# Your Code
allCompaniesIPO=list(map(lambda x: x["name"],db.companies.find({"ipo.valuation_amount":{"$type":"null"}})))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code