# Advanced Querying Mongo

Importing libraries and setting up connection

In [46]:
from pymongo import MongoClient
from pymongo import ASCENDING, DESCENDING
client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [68]:
# Your Code
q1= [c["name"] for c in db.companies.find({"name":"Babelgum"})]
q1

['Babelgum']

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [59]:
# Your Code
q2={"number_of_employees":{"$gt":5000}}
data2= list(db.companies.find(q2).sort([("number_of_employees", -1)]).limit(20))
#data2

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [79]:
# Your Code
q3= {"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]}
data3= db["companies"].find(q3, {'name': 1, "founded_year":1, '_id':0})
#list(data3)

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [86]:
# Your Code
q4={"$and":[{"founded_year":{"$lte":2010}},{"ipo.valuation_amount":{"$gte":100000000}}]}
data4= db["companies"].find(q4, {'name': 1, "ipo":1, '_id':0})
#list(data4)

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [102]:
# Your Code
q5={"$and":[{"founded_year":{"$lte":2005}},{"number_of_employees":{"$lte":1000}}]}
data5= db.companies.find(q4).sort([("number_of_employees", -1)]).limit(10)
#list(data5)

### 6. All the companies that don't include the `partners` field.

In [117]:
# Your Code
q6= ({"partners":{"$exists": "false"}})
data6= db.companies.find(q6)
#list(data6)[:2]

### 7. All the companies that have a null type of value on the `category_code` field.

In [119]:
# Your Code
q7= ({"category_code":{"$type":10}})
data7= db.companies.find(q7)
#list(data7)[:2]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [125]:
# Your Code
q8= {"$and":[{"number_of_employees":{"$gte":100}},{"number_of_employees":{"$lt":1000}}]}
data8= db.companies.find(q8, {'name': 1, "number_of_employees":1, '_id':0})
#list(data8)[:2]

### 9. Order all the companies by their IPO price in a descending order.

In [136]:
# Your Code
data9= db["companies"].find().sort([("ipo.valuation_amount", -1)]).limit(10)
#list(data9)[:2]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [137]:
# Your Code
data10= db.companies.find().sort([("number_of_employees",-1)]).limit(10)
#list(data10)[:2]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [139]:
# Your Code
q11= {"founded_month":{"$gte":6}}
data11= db.companies.find(q11).limit(1000)
#list(data11)[:2]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [143]:
# Your Code
q12= {"$and":[{"founded_year":{"$lt":2000}},{"acquisitions.price_amount":{"$gt":1000000}}]}
data12= db.companies.find(q12)
#list(data12))#[:2]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [149]:
# Your Code
q13= {"acquisitions.acquired_year":{"$gt":2010}}
data13= db.companies.find(q13,{'name': 1, "acquisitions":1, '_id':0}).sort([("acquisitions.price_amount",-1)])
#list(data13)[:2]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [162]:
# Your Code
#data14= db.companies.find({},{"name": 1, "founded_year":1, "_id":0}).sort([("founded_year",1)]).limit(5)
#list(data14)[:2]
#Hago de nuevo para eliminar los none
q14={"founded_year": {"$not":{"$eq": None}}}
data14 = db.companies.find(q14,{"name": 1, "founded_year":1, "_id":0}).sort("founded_year",1).limit(5)
#list(data14)[:2]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [164]:
# Your Code
q15 = {"founded_day":{"$lte":7}}
data15 = db.companies.find(q15).sort("acquisition.price_amount",-1).limit(10)
#list(data15)[:2]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [166]:
# Your Code
q16 = {"$and":[{"category_code":{"$eq":"web"}},{"number_of_employees":{"$gt":4000}}]}
data16 = db.companies.find(q16).sort("number_of_employees",1)
#list(data16)[:2]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [171]:
# Your Code
q17 = {"$and":[{"acquisition.price_currency_code":{"$eq":"EUR"}},{"acquisition.price_amount":{"$gt":10000000}}]}
data17 = db.companies.find(q17)
#list(data17)[:2]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [173]:
# Your Code
data18= db.companies.find({"founded_month":{"$lte":3}},{"name":1, "acquisition":1,"_id":0}).limit(10)
#list(data18)[:2]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [174]:
# Your Code
q19= {"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2010}},{"$or": [{"acquisition.acquired_year":{"$gt":2011}},{"acquisition.acquired_year":{"$eq":"null"}}] }]}
data19=db.companies.find(q19)
#list(data19)[:2]

### 20. All the companies that have been 'deadpooled' after the third year.

In [178]:
# Your Code
#Compañia deadpooled year > fundation year+3
#q20= [{"deadpooled_year":{"$gte":"founded_year"}}]
q20=({"$expr":{"$gt":["$deadpooled_year","founded_year"]}}) 
data20=db.companies.find(q20)
#