# Advanced Querying Mongo

Importing libraries and setting up connection

In [263]:
from pymongo import MongoClient
from pymongo import ASCENDING, DESCENDING
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [74]:
# Your Code
nameBabel = list(map( lambda x: x["name"] ,db.companies.find({"name":"Babelgum"},{"name":1,"_id":0})))
nameBabel

['Babelgum']

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [219]:
# Your Code
moreThan5k=list( db.companies.find({"number_of_employees":{"$gt":5000}},{"name":1,"_id":0}).sort([("number_of_employees",DESCENDING)]).limit(20))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [134]:
# Your Code
founded=list(db.companies.find({"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]},{"name":1,"founded_year":1,"_id":0}))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [220]:
# Your Code
valuationA=list(db.companies.find({"$and":[{"ipo.valuation_amount":{"$gt":100000000}}]},{"name":1,"ipo":1,"_id":0}))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [221]:
# Your Code
lessBefore=list(db.companies.find({"$and":[{"number_of_employees":{"$lt":1000}},{"founded_year":{"$lt":2005}}]}).sort([("number_of_employees",DESCENDING)]).limit(10))

### 6. All the companies that don't include the `partners` field.

In [281]:
# Your Code
allCompaniesd=list(db.companies.find({"$and":[{"partners":{"$exists":"True"}},{"partners":{"$size":0}}]}))

### 7. All the companies that have a null type of value on the `category_code` field.

In [223]:
# Your Code
allCompaniesnull=list(db.companies.find({"category_code":{"$type":"null"}}))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [225]:
# Your Code
allCompanies100e=list(db.companies.find({"$and":[{"number_of_employees":{"$gt":100}},{"number_of_employees":{"$lt":1000}}]},{"name":1,"number_of_employees":1,"_id":0}))

### 9. Order all the companies by their IPO price in a descending order.

In [226]:
# Your Code
allCompaniesIPO=list(db.companies.find({"ipo.valuation_amount":{"$exists":"True"}}).sort("ipo.valuation_amount",DESCENDING))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [228]:
# Your Code
moreEmployees=list(db.companies.find({"number_of_employees":{"$exists":"True"}}).sort("number_of_employees",DESCENDING).limit(10))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [230]:
# Your Code
founded2nd=list(db.companies.find({"$and":[{"founded_month":{"$gt":6}},{"founded_month":{"$lte":12}}]}).limit(1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [233]:
# Your Code
foundedBefore=list(db.companies.find({"$and":[{"founded_year":{"$lt":2000}},{"acquisition.price_amount":{"$gt":1000000}}]}))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [234]:
# Your Code
acquiredAfter=list(db.companies.find({"acquisition.acquired_year":{"$gt":2010}},{"name":1,"acquisition":1,"_id":0}))

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [246]:
# Your Code
foundY=list(db.companies.find({"founded_year":{"$exists":"True"}},{"name":1,"founded_year":1,"_id":0}))
foundY[:3]

[{'name': 'AdventNet', 'founded_year': 1996},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [209]:
# Your Code
founded7=list(db.companies.find({"founded_day":{"$lte":7}}).sort("acquisition.price_amount",DESCENDING).limit(10))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [248]:
# Your Code
more4k=list(db.companies.find({"$and":[{"category_code":"web"},{"number_of_employees":{"$gt":4000}}]}).sort([("number_of_employees",ASCENDING)]))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [218]:
# Your Code
more10M=list(db.companies.find({"$and":[{"acquisition.price_amount":{"$gt":10000000}},{"acquisition.price_currency_code":"EUR"}]}))

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [247]:
# Your Code
acquired1stT=list(db.companies.find({"acquisition.acquired_month":{"$lte":3}},{"name":1,"acquisition":1,"_id":0}).limit(10))

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [260]:
# Your Code
foundBetNot=list(db.companies.find({"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lt":2011}},{"acquisition.acquired_year": {"$gte":2011}}]}))

### 20. All the companies that have been 'deadpooled' after the third year.

In [290]:
# Your Code