# Advanced Querying Mongo

Importing libraries and setting up connection

In [3]:
!pip install pymongo

Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/23/cd/27fbc08f0bd835b4735504a758756e979b42c5bc9ebaac5ed3c2cbffd83f/pymongo-3.10.1-cp37-cp37m-macosx_10_9_x86_64.whl (350kB)
     |████████████████████████████████| 358kB 1.8MB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1

In [5]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

In [6]:
cur = db.list_collections()

In [7]:
for collection in cur:
    print(collection)

{'name': 'companies', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': UUID('bc254b87-70ad-43b2-85ae-3ef705a38999')}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_', 'ns': 'companies.companies'}}

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [13]:
list(db.companies.find({"name":"Babelgum"},{"name":1}))

for c in db.companies.find({"name":"Babelgum"},{"name":1}):
    print(c["name"])

Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [62]:
from pymongo import ASCENDING, DESCENDING

query=db.companies.find({"number_of_employees":{"$gt":5000}},{"name":1}).sort([
  ('number_of_employees', DESCENDING)
]).limit(20)
  
listed=list(query)

for e in listed:
    print(e["name"])

Siemens
IBM
Toyota
PayPal
Nippon Telegraph and Telephone Corporation
Samsung Electronics
Accenture
Tata Consultancy Services
Flextronics International
Safeway
Sony
LG
Ford
Boeing
Digital Equipment Corporation
Nokia
MItsubishi Electric
MItsubishi Electric
Comcast
Bertelsmann

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
query = {"$or":[{"founded_year":2000},{"founded_year":2001},{"founded_year":2002},{"founded_year":2003},{"founded_year":2004},{"founded_year":2005}]}

for c in db.companies.find(query):
 #   print(c["name"],c["founded_year"])

#db.bios.find( { birth: { $gt: new Date('1940-01-01'), $lt: new Date('1960-01-01') } } ) Veo esta forma pero dejo lo de antes para seguir

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [180]:
query = {{
    "$and":
    [{"founded_year":{"$lt":2010},
      "total_money_raised":{"$gt":10}}]
     },
{"name":1,
 "ipo":{"$ne":"null"}}}


db.companies.find(query)

TypeError: unhashable type: 'dict'

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [158]:
query={
    "$and":
    [{"number_of_employees":{"$lt":1000},
     "founded_year":{"$lt":2005}}]
     }
        
db.companies.find(query).sort('number_of_employees', DESCENDING).limit(10)

### 6. All the companies that don't include the `partners` field.

In [181]:
query=db.companies.find( {
   "partners": { "$exists": False }
} )

### 7. All the companies that have a null type of value on the `category_code` field.

In [183]:
query={
    "category_code":
    {"$type":"null"}
}

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
query=db.companies.find
({"$and":[
        {"number_of_employees":{"$gte":100},
        "number_of_employees":{"$lt":1000}}]},
{"name":1,
"number_of_employees":1})

### 9. Order all the companies by their IPO price in a descending order.

In [111]:
db.companies.find({}).sort([('ipo.valuation_amount', DESCENDING)])

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [120]:
query=db.companies.find({}).sort([('number_of_employees', DESCENDING)]).limit(10)


listed=list(query)

for e in listed:
    print(e["name"])

Siemens
IBM
Toyota
PayPal
Nippon Telegraph and Telephone Corporation
Samsung Electronics
Accenture
Tata Consultancy Services
Flextronics International
Safeway

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [185]:
query=db.companies.find(
    {
        "$and":
     [
         {"founded_year":{"$lt":20}},
         {"acquisition.price_amount":{"$gt":1000000}}
     ]
    }
)

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [196]:
db.companies.find(
    {"acquisitions.acquired_year":{"$gt":2010}},
{"name":1,
"acquisition":1}).sort({'acquisition.price_amount':-1})

TypeError: if no direction is specified, key_or_list must be an instance of list

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
db.companies.find(
    {"founded_year":{"$gt":2010}},
{"name":1,
"acquisition":1}).sort({'acquisition.price_amount':-1})

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [198]:
db.companies.find(
    {"founded_year":{"$gt":2010}},
{"name":1,
"acquisition":1}).sort({'number_of_employees':1})

TypeError: if no direction is specified, key_or_list must be an instance of list

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code