In [7]:
import sqlalchemy as db
from getpass import getpass

In [8]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [14]:
dbName = "lab-mysql-select"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [15]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [16]:
import pandas as pd

In [17]:
challenge1 = pd.read_sql_query("""
SELECT au.au_id as `AUTHOR ID`, 
        au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        t.title as `TITLE`, 
        pu.pub_name as `PUBLISHER`
	FROM authors AS au
		INNER JOIN titleauthor AS ta ON au.au_id=ta.au_id
        INNER JOIN titles AS t ON t.title_id=ta.title_id
        INNER JOIN publishers AS pu ON t.pub_id=pu.pub_id
ORDER BY au.au_id
""", engine)

In [ ]:
challenge1

In [19]:
challenge2 = pd.read_sql_query("""
SELECT au.au_id as `AUTHOR ID`, 
		au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        pu.pub_name as `PUBLISHER`,
        count(*) `TITLE COUNT`
	FROM authors AS au
		INNER JOIN titleauthor AS ta ON au.au_id=ta.au_id
        INNER JOIN titles AS t ON t.title_id=ta.title_id
        INNER JOIN publishers AS pu ON t.pub_id=pu.pub_id
GROUP BY au.au_id, au.au_lname, au.au_fname, pu.pub_name
ORDER BY `TITLE COUNT` desc
""", engine)

In [ ]:
challenge2

In [22]:
challenge3 = pd.read_sql_query("""
SELECT au.au_id as `AUTHOR ID`, 
		au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        sum(s.qty) as `QUANTITY`
	FROM authors AS au
		INNER JOIN titleauthor AS ta ON au.au_id=ta.au_id
        INNER JOIN titles AS t ON t.title_id=ta.title_id
        left join sales as s on t.title_id=s.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname
ORDER BY `QUANTITY` desc limit 3;

""", engine)

#--> Yo lo he hecho con una temporary table asi:
"""create temporary table sellers (
SELECT au.au_id as `AUTHOR ID`, 
		au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        sum(s.qty) as `QUANTITY`
	FROM authors AS au
		INNER JOIN titleauthor AS ta ON au.au_id=ta.au_id
        INNER JOIN titles AS t ON t.title_id=ta.title_id
        left join sales as s on t.title_id=s.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname
ORDER BY `QUANTITY` desc);

SELECT * 
	from sellers
ORDER BY `QUANTITY` desc limit 3
"""
#--> pero me daba erroy en jupyter, asi que lo he hecho de nuevo añadiendo el limit en la query

In [ ]:
challenge3

In [24]:
challenge4 = pd.read_sql_query(
    """SELECT au.au_id as `AUTHOR ID`, 
		au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        ifnull(sum(s.qty),0) as `QUANTITY`
	FROM authors AS au
		left JOIN titleauthor AS ta ON au.au_id=ta.au_id
        left JOIN titles AS t ON t.title_id=ta.title_id
        left join sales as s on t.title_id=s.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname
ORDER BY `QUANTITY` desc limit 23
""", engine)

In [ ]:
challenge4

In [ ]:
challengeX = pd.read_sql_query("""""", engine)