In [1]:
import sqlalchemy as db
from getpass import getpass

In [2]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [4]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [5]:
import pandas as pd

In [7]:
# Challenge 1

df=pd.read_sql_query("""

SELECT a.au_id AS AUTHORID, a.au_fname AS LASTNAME, a.au_lname AS FIRSTNAME, t.title AS TITLE, p.pub_name AS PUBLISHER
     FROM authors AS a
         INNER JOIN titleauthor as ta
         ON a.au_id=ta.au_id
         INNER JOIN titles as t
         ON ta.title_id=t.title_id
         INNER JOIN publishers as p
         ON t.pub_id=p.pub_id

""", engine)
df

,AUTHORID,LASTNAME,FIRSTNAME,TITLE,PUBLISHER
0,213-46-8915,Marjorie,Green,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Abraham,Bennet,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,Michael,O'Leary,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,Stearns,MacFeather,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Marjorie,Green,You Can Combat Computer Stress!,New Moon Books
5,274-80-9391,Dean,Straight,Straight Talk About Computers,Algodata Infosystems
6,712-45-1867,Innes,del Castillo,Silicon Valley Gastronomic Treats,Binnet & Hardley
7,722-51-5454,Michel,DeFrance,The Gourmet Microwave,Binnet & Hardley
8,899-46-2035,Anne,Ringer,The Gourmet Microwave,Binnet & Hardley
9,238-95-7766,Cheryl,Carson,But Is It User Friendly?,Algodata Infosystems
10,427-17-2319,Ann,Dull,Secrets of Silicon Valley,Algodata Infosystems
11,846-92-7186,Sheryl,Hunter,Secrets of Silicon Valley,Algodata Infosystems
12,486-29-1786,Charlene,Locksley,Net Etiquette,Algodata Infosystems
13,724-80-9391,Stearns,MacFeather,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,756-30-7391,Livia,Karsen,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,899-46-2035,Anne,Ringer,Is Anger the Enemy?,New Moon Books
16,998-72-3567,Albert,Ringer,Is Anger the Enemy?,New Moon Books
17,998-72-3567,Albert,Ringer,Life Without Fear,New Moon Books
18,172-32-1176,Johnson,White,Prolonged Data Deprivation: Four Case Studies,New Moon Books
19,486-29-1786,Charlene,Locksley,Emotional Security: A New Algorithm,New Moon Books
20,807-91-6654,Sylvia,Panteley,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
21,648-92-1872,Reginald,Blotchet-Halls,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
22,267-41-2394,Michael,O'Leary,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Burt,Gringlesby,"Sushi, Anyone?",Binnet & Hardley
24,672-71-3249,Akiko,Yokomoto,"Sushi, Anyone?",Binnet & Hardley

In [10]:
# Challenge 2

df=pd.read_sql_query("""

SELECT a.au_id AS AUTHORID, a.au_fname AS LASTNAME, a.au_lname AS FIRSTNAME, p.pub_name AS PUBLISHER,count(*) AS TITLECOUNT 
     FROM authors AS a
         INNER JOIN titleauthor as ta
         ON a.au_id=ta.au_id
         INNER JOIN titles as t
         ON ta.title_id=t.title_id
         INNER JOIN publishers as p
         ON t.pub_id=p.pub_id
	GROUP BY a.au_id,a.au_fname,a.au_lname,p.pub_name
    ORDER BY TITLECOUNT DESC
	

""", engine)
df

       AUTHORID  LASTNAME       FIRSTNAME             PUBLISHER  TITLECOUNT
0   998-72-3567    Albert          Ringer        New Moon Books           2
1   213-46-8915  Marjorie           Green        New Moon Books           1
2   899-46-2035      Anne          Ringer        New Moon Books           1
3   172-32-1176   Johnson           White        New Moon Books           1
4   486-29-1786  Charlene        Locksley        New Moon Books           1
5   712-45-1867     Innes    del Castillo      Binnet & Hardley           1
6   722-51-5454    Michel        DeFrance      Binnet & Hardley           1
7   899-46-2035      Anne          Ringer      Binnet & Hardley           1
8   724-80-9391   Stearns      MacFeather      Binnet & Hardley           1
9   756-30-7391     Livia          Karsen      Binnet & Hardley           1
10  807-91-6654    Sylvia        Panteley      Binnet & Hardley           1
11  648-92-1872  Reginald  Blotchet-Halls      Binnet & Hardley           1
12  267-41-2394   Michael         O'Leary      Binnet & Hardley           1
13  472-27-2349      Burt      Gringlesby      Binnet & Hardley           1
14  672-71-3249     Akiko        Yokomoto      Binnet & Hardley           1
15  213-46-8915  Marjorie           Green  Algodata Infosystems           1
16  409-56-7008   Abraham          Bennet  Algodata Infosystems           1
17  267-41-2394   Michael         O'Leary  Algodata Infosystems           1
18  724-80-9391   Stearns      MacFeather  Algodata Infosystems           1
19  274-80-9391      Dean        Straight  Algodata Infosystems           1
20  238-95-7766    Cheryl          Carson  Algodata Infosystems           1
21  427-17-2319       Ann            Dull  Algodata Infosystems           1
22  846-92-7186    Sheryl          Hunter  Algodata Infosystems           1
23  486-29-1786  Charlene        Locksley  Algodata Infosystems           1

In [11]:
# Challenge 3

df=pd.read_sql_query("""

SELECT a.au_id AS AUTHORID, a.au_fname AS LASTNAME, a.au_lname AS FIRSTNAME,sum(s.qty) AS TOTAL
	FROM authors AS a
         INNER JOIN titleauthor as ta
         ON a.au_id=ta.au_id
         INNER JOIN titles as t
         ON ta.title_id=t.title_id
         INNER JOIN sales as s
         ON t.title_id=s.title_id
	GROUP BY a.au_id,a.au_fname,a.au_lname
    ORDER BY TOTAL DESC
   LIMIT 3

	

""", engine)
df

      AUTHORID  LASTNAME FIRSTNAME  TOTAL
0  899-46-2035      Anne    Ringer  148.0
1  998-72-3567    Albert    Ringer  133.0
2  213-46-8915  Marjorie     Green   50.0

In [ ]:
# Challenge 4

df=pd.read_sql_query("""



""", engine)
df