In [1]:


import sqlalchemy as db
from getpass import getpass

password = getpass("Mysql Password: ")

dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = db.create_engine(connectionData)
print("Connected to server!")

Mysql Password: ········
Connected to server!

In [2]:
# Challenge 1:

import pandas as pd
df = pd.read_sql_query("""
SELECT au.au_id as author_ID,au.au_lname as "last_name",au.au_fname as "first_name",tt.title, pub.pub_name as publisher
FROM titles as tt
INNER JOIN  titleauthor as tta
ON tt.title_id = tta.title_id
INNER JOIN authors AS au
ON tta.au_id = au.au_id
INNER JOIN publishers AS pub
on tt.pub_id = pub.pub_id

""", engine)

df

,author_ID,last_name,first_name,title,publisher
0,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
5,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
6,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
7,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
8,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
9,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
10,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
11,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
12,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
13,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
16,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
17,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books
18,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
19,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
20,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
21,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
22,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
24,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley

In [3]:
#Challenge 2

df = pd.read_sql_query("""
SELECT au.au_id as author_ID,au.au_lname as "last_name",au.au_fname as "first_name", pub.pub_name as publisher,count(tt.title) as titles
FROM titles as tt
INNER JOIN  titleauthor as tta
ON tt.title_id = tta.title_id
INNER JOIN authors AS au
ON tta.au_id = au.au_id
INNER JOIN publishers AS pub
on tt.pub_id = pub.pub_id
group by author_ID,last_name,first_name,publisher
order by titles DESC

""", engine)

df

      author_ID       last_name first_name             publisher  titles
0   998-72-3567          Ringer     Albert        New Moon Books       2
1   213-46-8915           Green   Marjorie  Algodata Infosystems       1
2   409-56-7008          Bennet    Abraham  Algodata Infosystems       1
3   267-41-2394         O'Leary    Michael  Algodata Infosystems       1
4   724-80-9391      MacFeather    Stearns  Algodata Infosystems       1
5   213-46-8915           Green   Marjorie        New Moon Books       1
6   274-80-9391        Straight       Dean  Algodata Infosystems       1
7   712-45-1867    del Castillo      Innes      Binnet & Hardley       1
8   722-51-5454        DeFrance     Michel      Binnet & Hardley       1
9   899-46-2035          Ringer       Anne      Binnet & Hardley       1
10  238-95-7766          Carson     Cheryl  Algodata Infosystems       1
11  427-17-2319            Dull        Ann  Algodata Infosystems       1
12  846-92-7186          Hunter     Sheryl  Algodata Infosystems       1
13  486-29-1786        Locksley   Charlene  Algodata Infosystems       1
14  724-80-9391      MacFeather    Stearns      Binnet & Hardley       1
15  756-30-7391          Karsen      Livia      Binnet & Hardley       1
16  899-46-2035          Ringer       Anne        New Moon Books       1
17  172-32-1176           White    Johnson        New Moon Books       1
18  486-29-1786        Locksley   Charlene        New Moon Books       1
19  807-91-6654        Panteley     Sylvia      Binnet & Hardley       1
20  648-92-1872  Blotchet-Halls   Reginald      Binnet & Hardley       1
21  267-41-2394         O'Leary    Michael      Binnet & Hardley       1
22  472-27-2349      Gringlesby       Burt      Binnet & Hardley       1
23  672-71-3249        Yokomoto      Akiko      Binnet & Hardley       1

In [4]:

#Challenge 3

df = pd.read_sql_query("""
SELECT au.au_id as `AUTHOR ID`, 
        au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        sum(s.qty) as `QUANTITY`
    FROM authors AS au
        left JOIN titleauthor AS ta ON au.au_id=ta.au_id
        left JOIN titles AS t ON t.title_id=ta.title_id
        left join sales as s on t.title_id=s.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname
ORDER BY `QUANTITY` desc limit 3;

""", engine)

df

     AUTHOR ID LAST NAME FRIST NAME  QUANTITY
0  899-46-2035    Ringer       Anne     148.0
1  998-72-3567    Ringer     Albert     133.0
2  427-17-2319      Dull        Ann      50.0

In [5]:

#Challenge  4

df = pd.read_sql_query("""
SELECT au.au_id as `AUTHOR ID`, 
        au.au_lname as `LAST NAME`, 
        au.au_fname as `FRIST NAME`, 
        round(sum(s.qty))as `QUANTITY`
    FROM authors AS au
        INNER JOIN titleauthor AS ta ON au.au_id=ta.au_id
        INNER JOIN titles AS t ON t.title_id=ta.title_id
        INNER join sales as s on t.title_id=s.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname
ORDER BY `QUANTITY` desc limit 23;



""", engine)

df

      AUTHOR ID       LAST NAME FRIST NAME  QUANTITY
0   899-46-2035          Ringer       Anne     148.0
1   998-72-3567          Ringer     Albert     133.0
2   213-46-8915           Green   Marjorie      50.0
3   427-17-2319            Dull        Ann      50.0
4   846-92-7186          Hunter     Sheryl      50.0
5   267-41-2394         O'Leary    Michael      45.0
6   724-80-9391      MacFeather    Stearns      45.0
7   807-91-6654        Panteley     Sylvia      40.0
8   722-51-5454        DeFrance     Michel      40.0
9   238-95-7766          Carson     Cheryl      30.0
10  486-29-1786        Locksley   Charlene      25.0
11  648-92-1872  Blotchet-Halls   Reginald      20.0
12  472-27-2349      Gringlesby       Burt      20.0
13  672-71-3249        Yokomoto      Akiko      20.0
14  756-30-7391          Karsen      Livia      20.0
15  409-56-7008          Bennet    Abraham      15.0
16  172-32-1176           White    Johnson      15.0
17  274-80-9391        Straight       Dean      15.0
18  712-45-1867    del Castillo      Innes      10.0